* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  border: none;
  outline: none;
}

:root {
  --background-color: #080808;
  --second-background-color: #131313;
  --text-color: white;
  --main-color: #00ffee;
}
